
/* 精美信纸 */
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
 
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  border: 1mm solid #444654;
  position: relative;
  background-color: #ffffff;
  background-image: url(../img/top-image.png),url(../img/bottom-image.png) ;
  background-position: top, bottom;
  background-repeat: no-repeat;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm; 
  
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url(../img/logo.png);
}
address p{
  text-shadow: #4b4444;
}

#box{
  width: 400px;
  height: 400px;
  line-height: 400px;
  text-align: center;
  margin: 20px auto;
  font-size: 2.4rem;
  background-color: #e10000;
  color: #fff;
  text-shadow: 0 2px black;
  border-radius: .5em;
  border: 1px solid #840707d9;
  background-image: linear-gradient(to left-right, rgba(30, 30, 30,0) 0%, rgba(224, 46, 46, 0.821) 30%);
  background-image: linear-gradient(t);
  box-shadow: 20px black;
}